<div class="row">
    <div class="col-md-12">
        <h2>{{program.programName}} – Program Code:  {{program.programCode}}</h2>
        <hr />
        <form method="post" action="/program/update">

            <div class="col-md-12">
                <div class="form-group">
                    <label for="programCode">Program Code:</label>
                    <input class="form-control" id="programCode" name="programCode" type="text" value="{{ program.programCode}}" /> 
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label for="programName">Program Name:</label>
                    <input class="form-control" id="programName" name="programName" type="text" value="{{ program.programName}}" /> 
                </div>
            </div>

            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Update Program" /><br /><br /><br />

        </form>

    </div>

</div>